.section {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 65vh;
}
.card {
  position: relative;
  max-width: 300px;
  height: auto;
  background: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border : 2px solid #2f4050;
}
.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background : rgba(85, 178, 150,0.4);
}

.title .fa {
  color: #2f4050;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  background: white;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #2f4050;
  font-size: 28px;
  z-index: 2;
}
.option {
  position: relative;
  z-index: 2;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #2f4050;
  font-size: 16px;
}
.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card a:hover {
  text-decoration: none;
}

.emptyBox {
	height: 60px;
}






.section_s {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.card_s {
  position: relative;
  max-width: 1000px;
  height: auto;
  background: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border : 2px solid #2f4050;
  
}
.card_s:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background : rgba(85, 178, 150,0.4);
  
}

.title_s .fa_s {
  color: #2f4050;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 50px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#payMethod_4 > div > div:nth-child(2) > h2 {
  color: #2f4050;

}

.title_s .fa_ss {
  color: #2f4050;
  font-size: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: white;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.title_s h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #2f4050;
  font-size: 18px;
  z-index: 2;
}
.option_s {
  position: relative;
  z-index: 2;
}
.option_s ul {
  margin: 0;
  padding: 0;
}
.option_s ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #2f4050;
  font-size: 10px;
}
.card_s a {
  position: relative;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card_s a:hover {
  text-decoration: none;
}

.emptyBox_s {
	height: 20px;
}

