<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balbadak.nexquickpro">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--김민규 0617 추가. 전화다이얼걸기-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 이은진 tts/stt 추가 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".CustomStartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoToWorkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".KeyActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="aa50824339a1434072f8e7522d94aa54" />

        <!-- 다이얼로그 액티비티 -->
        <activity
            android:name=".KeyHashActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".DialogDetailActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".DialogCalculateEndActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".DialogAllocateActivity"
            android:theme="@style/DialogTheme" />
        <!-- // 다이얼로그 액티비티 -->

        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".SPayCheckActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".RPayCheckActivity"
            android:theme="@style/DialogTheme" />
        <!-- // 다이얼로그 액티비티 -->
        <activity android:name=".QPBeamSActivity" />
        <activity android:name=".QPBeamRActivity" />

        <!-- 2018-06-10 firebase cloud messaging -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".TTSService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".GoogleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UpdateUserActivity"/>
        <activity android:name=".OrderListBeforeActivity" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>